{% extends 'layout.njk'%}

{% block content %}
    <div id="wrapper">
      <!-- ÁREA DO LOGO -->
      <section id="logo">  
        
        <div id="text__logo">
          <h1>As melhores receitas</h1>
          <p id="paragraph"> Aprenda a construir os melhores pratos
            com receitas criadas por profissionais
            do mundo inteiro.</p>
        </div>

        <div id="img__logo">
            <img src="/img/chef.png" alt="" />            
          </div>
  

      </section>

      <div id="text__indicator">
        <h2>Mais acessadas</h2>
      </div>

      <!-- ÁREA DAS RECEITAS -->
      <section id="grid">       

        <div class="card">
          <div class="card__img">
            <img src="img/burger.png" alt="" />
          </div>

          <div class="card__content">
            <p>Triplo bacon burguer</p>
          </div>

          <div class="card__info">
            <p>Por Matheus de Araújo</p>
          </div>
        </div>

        <div class="card">
          <div class="card__img">
            <img src="/img/burger.png" alt="" />
          </div>

          <div class="card__content">
            <p>Triplo bacon burguer</p>
          </div>

          <div class="card__info">
            <p>Por Matheus de Araújo</p>
          </div>
        </div>

        <div class="card">
          <div class="card__img">
            <img src="/img/pizza.png" alt="" />
          </div>

          <div class="card__content">
            <p>Triplo bacon burguer</p>
          </div>

          <div class="card__info">
            <p>Por Matheus de Araújo</p>
          </div>
        </div>

        
        <div class="card">
          <div class="card__img">
            <img src="/img/doce.png" alt="" />
          </div>

          <div class="card__content">
            <p>Triplo bacon burguer</p>
          </div>

          <div class="card__info">
            <p>Por Matheus de Araújo</p>
          </div>
        </div>

        <div class="card">
          <div class="card__img">
            <img src="/img/asinhas.png" alt="" />
          </div>

          <div class="card__content">
            <p>Triplo bacon burguer</p>
          </div>

          <div class="card__info">
            <p>Por Matheus de Araújo</p>
          </div>
        </div> 
        
        <div class="card">
          <div class="card__img">
            <img src="/img/lasanha.png" alt="" />
          </div>

          <div class="card__content">
            <p>Triplo bacon burguer</p>            
          </div>

         <div class="card__info">
            <p>Por Matheus de Araújo</p>
          </div> 
        </div>   

      </section>

      <footer>
        <div id="footer">
          <p>Copyright foodfy</p>
        </div>
      </footer>

    </div>
{% endblock %}

    <script src="scripts.js"></script>
  </body>
</html>
