{% extends 'layout.njk'%}

{% block content %}
    <body>
     
        <div class="container">
            {% for item in data %}
                <div id="recept__img">
                    <img src="{{item.img}}" alt="">
                </div>
                
                    <div id="recept__title">
                    <h1>{{item.name}}</h1>
                    </div>
                    <div id="recept__subtitle">
                        <h2>{{item.subtitle}}</h2>
                    </div>

                <span id="ingredients__label">Ingredientes</span>
                    
                    <div id="repect__ingredients">
                    {%for ingredient in item.ingredients%}
                        <ul>
                            <li>{{ingredient.ingredient_name}}</li>
                        </ul>
                    {% endfor %}                
                    </div> 

                <span id="prepare__label">Modo de preparo</span><br>

                <span id="Information__label">Informações adicionais</span>

                    <div id="repect__prepare">
                        <p>{{item.prepare}}</p>
                    </div>

            {% endfor %}
                      
        </div>
     
    </body>
{% endblock %}
