{% extends 'layout.njk'%}


{% block content%}
     <div id="wrapper">
            <section id="grid">
                <div id="1" class="card">
                    <div class="card__img">
                      <img src="/img/burger.png" alt="" />
                    </div>
          
                    <div class="card__content">
                      <p>Triplo bacon burguer</p>
                    </div>
          
                    <div class="card__info">
                      <p>Por Matheus de Araújo</p>
                    </div>
                  </div>
          
                  <div id="2"class="card">
                    <div class="card__img">
                      <img src="/img/espaguete.png" alt="" />
                    </div>
          
                    <div class="card__content">
                      <p>Triplo bacon burguer</p>
                    </div>
          
                    <div class="card__info">
                      <p>Por Matheus de Araújo</p>
                    </div>
                  </div>
          
                  <div id="3" class="card">
                    <div class="card__img">
                      <img src="/img/pizza.png" alt="" />
                    </div>
          
                    <div class="card__content">
                      <p>Triplo bacon burguer</p>
                    </div>
          
                    <div class="card__info">
                      <p>Por Matheus de Araújo</p>
                    </div>
                  </div>
          
                  
                  <div id="4" class="card">
                    <div class="card__img">
                      <img src="/img/doce.png" alt="" />
                    </div>
          
                    <div class="card__content">
                      <p>Triplo bacon burguer</p>
                    </div>
          
                    <div class="card__info">
                      <p>Por Matheus de Araújo</p>
                    </div>
                  </div>
          
                  <div id="5" class="card">
                    <div class="card__img">
                      <img src="/img/asinhas.png" alt="" />
                    </div>
          
                    <div class="card__content">
                      <p>Triplo bacon burguer</p>
                    </div>
          
                    <div class="card__info">
                      <p>Por Matheus de Araújo</p>
                    </div>
                  </div> 
                  
                  <div id="6" class="card">
                    <div class="card__img">
                      <img src="/img/lasanha.png" alt="" />
                    </div>
          
                    <div class="card__content">
                      <p>Triplo bacon burguer</p>            
                    </div>
          
                   <div class="card__info">
                      <p>Por Matheus de Araújo</p>
                    </div> 
                  </div>  
            </section> 
        </div>

        <div class="modal__overlay">
          <div class="modal">
            <a href="" class="close__modal">
              <span class="material-icons">
                highlight_off
              </span>
            </a>

            <div class="modal__content">
              
            </div>
          </div>
        </div>
{% endblock %}

        <script src="../scripts.js"></script>  
    </body>
</html>
